<header>
  <div class="header-container">
    <div class="logo">
      <img src="..." alt="Logo" />
    </div>
    <nav>
      <ul class="nav-menu">
        <li><a href="/cliente-dashboard">Inicio</a></li>
        <li><a href="/seleccion-productos">Productos</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/ventas">Mis Compras</a></li>
        <li><a href="/contacto">Contacto</a></li>

        <!-- Menú desplegable de Perfil -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">Perfil</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/mis-datos">Mis Datos</a>
            <!-- Vinculamos el método de cerrar sesión -->
            <a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar Sesión</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>