<app-header-cliente></app-header-cliente>

<div class="container mt-5">
  <h2 class="text-center mb-4">Productos Disponibles</h2>

  <!-- Botón Nueva Compra -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-nueva-compra" (click)="nuevaCompra()">
      Nueva Compra
    </button>
  </div>

  <!-- Grid de Productos en Cards -->
  <div class="row">
    <div class="col-md-3 mb-4" *ngFor="let producto of paginatedProductos">
      <div class="card h-100 shadow-sm">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text text-truncate">{{ producto.descripcion }}</p>
          <p class="card-text"><strong>Precio:</strong> {{ producto.importe_venta | currency }}</p>
          <p class="card-text"><strong>En Stock:</strong> {{ producto.stock }}</p>

          <!-- Controles de cantidad centrados -->
          <div class="mt-auto d-flex justify-content-center align-items-center">
            <button class="btn btn-success btn-sm me-1" (click)="incrementarCantidad(producto._id)"
              [disabled]="cantidades[producto._id] >= producto.stock">
              +
            </button>
            <span class="mx-2 fw-bold fs-4">{{ cantidades[producto._id] || 0 }}</span>
            <button class="btn btn-danger btn-sm ms-1" (click)="decrementarCantidad(producto._id)"
              [disabled]="cantidades[producto._id] <= 0">
              -</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Controles de paginación -->
  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-outline-primary me-2" (click)="prevPage()" [disabled]="currentPage === 1">
      <i class="bi bi-arrow-left"></i> Anterior
    </button>
    <span class="fs-5 align-self-center mx-3">Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="btn btn-outline-primary ms-2" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Siguiente <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>

<app-footer></app-footer>