<app-header></app-header>

<div class="container mt-5">
  <h2 class="text-center mb-4">Productos Disponibles</h2>

  <!-- Botón Nueva Compra -->
  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" (click)="nuevaCompra()">
      Nueva Compra
    </button>
  </div>

  <!-- Lista de Productos en una tarjeta -->
  <div class="table-responsive">
    <table class="table table-hover align-middle text-center border rounded shadow-sm">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Selección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of paginatedProductos" class="align-middle">
          <td>{{ producto.nombre }}</td>
          <td class="text-truncate descripcion-cell">{{ producto.descripcion }}</td>
          <td>{{ producto.importe_venta | currency }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ cantidades[producto._id] || 0 }}</td>
          <td>
            <button class="btn btn-success btn-sm mx-1" (click)="incrementarCantidad(producto._id)"
              [disabled]="cantidades[producto._id] >= producto.stock">
              +
            </button>
            <button class="btn btn-danger btn-sm mx-1" (click)="decrementarCantidad(producto._id)"
              [disabled]="cantidades[producto._id] <= 0">
              -
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Controles de paginación con un diseño más atractivo -->
  <div class="d-flex justify-content-center mt-4">
    <button class="btn btn-outline-primary me-2" (click)="prevPage()" [disabled]="currentPage === 1">
      <i class="bi bi-arrow-left"></i> Anterior
    </button>
    <span class="fs-5 align-self-center mx-3">Página {{ currentPage }} de {{ totalPages }}</span>
    <button class="btn btn-outline-primary ms-2" (click)="nextPage()" [disabled]="currentPage === totalPages">
      Siguiente <i class="bi bi-arrow-right"></i>
    </button>
  </div>
</div>

<app-footer></app-footer>